* {
    padding: 0;
    margin: 0;
}

#container {
    display: flex;
    flex: 1 auto;
    height: 100vh;
    position: relative;
    
}

#startup_container {
    display: block;
    border: 2px solid green;
    position: absolute;
    top: 25%;
    width: inherit;
    -ms-transform: translateY(-25%);
    transform: translateY(-25%);
}

#login_container {
    border: 2px solid black;
    width: 25%;
}

#info_container {
    background-image: url("assets/main_background.jpg");
    width: 75%;
    border:2px solid red;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#image_container {
    display: flex;
    justify-content: center;
    
}

#button_container {
    display: flex;
    justify-content: space-around;
}

#title{
    padding: 25px;
    text-align: center;
    margin-bottom: 35px;
}

#icon_image {
    width: 120px;
    height: 120px;
    align-items: center;
    border: 1px, solid rgba(0, 0, 0, 0.778);
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.35);
    border-radius: 50%;
    
}

#signup_option, #login_option {
    display: none;
}

.buttons {
    border-radius: 10px;
    border: none;
    color:black;
    text-align: center;
    display: inline-block;
    padding: 15px 32px;
    font-size: 16px;
    transition-duration: 0.4s;
}

.buttons:hover{
    background-color: rgba(79, 75, 75, 0.45);
    color: white;

}